@font-face {
  font-family: "sandol";
  src: url(AppleSDGothicNeoL.ttf);
  font-family: "Caslon";
  src: url(CaslonOldFaceHeavyRegular.otf);
}
* {
  list-style-type: none;
  text-decoration: none;
  font-family: "Caslon", "sandol";
}
.nUserCardContainer {
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 25%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
  .nUserCardName {
    font-size: 1.5em;
  }

  .nUserIcon {
    font-size: 0.8em;
    margin-top: 2px;
    margin-bottom: 4px;
  }
  .nUserIcon1 {
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 4px;
  }
  .nUserIcon3 {
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 4px;
  }
}
.nUserCardEmail {
  margin-bottom: 0px !important;
}

.nUserCardBtn {
  border: none;
  background-color: transparent;
  color: black;

  &:hover {
    text-shadow: 0 0 5px black;
  }
}

.nUserCardName {
  border-style: solid;
  border-color: black;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0.2px;
  margin-bottom: 3px;
}
