@font-face {
  font-family: "sandol";
  src: url(AppleSDGothicNeoL.ttf);
  font-family: "Caslon";
  src: url(CaslonOldFaceHeavyRegular.otf);
}
* {
  list-style-type: none;
  text-decoration: none;
  font-family: "Caslon", "sandol";
}
.white {
  color: white;
}
